<form class="d-flex flex-column info" action="/users" method="post">
    <div class="action align-self-end">
        <button type="submit" class="btn btn-md btn-primary"><i class="ri-user-add-line"></i>Save</button>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="user d-flex flex-column align-items-center justify-content-around">
            <div class="form-group mb-2">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="binjar123">
            </div>
            <div class="form-group mb-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        <div class="biodata d-flex flex-column justify-content-between">
            <div class="form-group mb-2">
                <label for="fullname">Fullname</label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Naruto Uzumaki">
            </div>
            <div class="form-group mb-2">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Konohagakure">
            </div>
            <div class="form-group mb-2">
                <label for="img">Img Url</label>
                <input type="text" class="form-control" id="img" name="img" placeholder="https://game.me/photo.png">
            </div>
            <div class="form-group mb-2">
                <label class="d-block">Gender</label>
                <div class="form-check form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>