<div class="left-menu d-flex flex-column justify-content-around">
  <div
    class="menu-item d-flex flex-column align-items-center"
    onclick="linkto('/dashboard')"
  >
    <i class="ri-home-3-fill icon-1"></i>
    <span>Home</span>
  </div>
  <div
    class="menu-item d-flex flex-column align-items-center"
    onclick="linkto('/users')"
  >
  <i class="ri-folder-user-fill icon-1"></i>
    <span>Users</span>
  </div>
  <div class="menu-item d-flex flex-column align-items-center">
    <i class="ri-gamepad-fill icon-1"></i>
    <span>Users</span>
  </div>
  <div class="menu-item d-flex flex-column align-items-center">
    <i class="ri-bar-chart-2-fill icon-1"></i>
    <span>Statistics</span>
  </div>
  <div class="menu-item d-flex flex-column align-items-center">
    <i class="ri-logout-box-fill icon-1"></i>
    <span>Log Out</span>
  </div>
</div>
