<div class="d-flex justify-content-between align-items-center p-3 bg-primary topbar">
  <div class="left">
    <h2 class="text-white fw-bold">Game Dashboard</h2>
  </div>
  <div class="right d-flex align-items-center">
    <img
      src="https://avatars.githubusercontent.com/u/41828945?v=4"
      class="rounded-circle"
      alt=""
      height="40"
    />
    <div class="mx-2"><strong class="text-white">ahmad</strong></div>
  </div>
</div>
