<div class="d-flex justify-content-between align-items-center p-3 topbar">
  <div class="left">
    <h2 class="text-white fw-bold">Game Dashboard</h2>
  </div>
  <div class="right d-flex align-items-center">
    <img
      src="/img/default-avatar.png"
      class="rounded-circle"
      alt=""
      height="40"
    />
    <div class="mx-2"><strong class="text-white">admin</strong></div>
  </div>
</div>
