.topbar {
  width: 100vw;
  height: 70px;
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: #71a6ca;
}

.left-menu {
  width: 15%;
  padding: 10px 0;
  background-color: #87b4d3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
}

.menu-item {
  padding: 20px 0px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s all ease;
  color: white;
}

.menu-item:hover {
  background-color: white;
  color: black;
  border-left: 4mm ridge rgba(50, 75, 220, 0.6);
}

.icon-1 {
  font-size: 2rem;
}

.icon-2 {
  font-size: 4rem;
  color: #71a6ca;
}

.icon-3 {
  font-size: 2rem;
  color: #71a6ca;
  cursor: pointer;
}

.right-menu {
  flex: 1;
}

.info {
  box-shadow: 0px 0px 5px -2px #000000;
  padding: 10px;
  margin: 10px;
}

.info-dashboard {
  border-left: 4mm ridge rgba(50, 75, 220, 0.6);
  color: rgb(78, 78, 78);
  flex: 1;
}

.user {
  flex: 0.5;
}

.biodata {
  flex: 1;
}

.chart {
  margin: 10px;
  box-shadow: 0px 0px 5px -2px #758c66;
}

.callout {
  padding: 10px;
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.295);
  border-left: 1mm solid rgba(255, 187, 0, 0.932);
}
