<div class="top-menu d-flex align-items-center justify-content-around">
  <div
    class="
      info
      info-dashboard
      d-flex
      align-items-center
      justify-content-around
    "
  >
    <div class="detail-info">
      <h2><%= tUsers %></h2>
      <span class="fw-bold">Total Users</span>
    </div>
    <i class="ri-user-follow-line icon-2"></i>
  </div>
  <div
    class="
      info
      info-dashboard
      d-flex
      align-items-center
      justify-content-around
    "
  >
    <div class="detail-info">
      <h2>90K </h2>
      <span class="fw-bold">Total Games Played</span>
    </div>
    <i class="ri-gamepad-line icon-2"></i>
  </div>
</div>
<canvas class="chart" id="myChart" width="200" height="70"></canvas>



<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="/js/statistics.js"></script>