<div class="info info-user table-responsive d-flex flex-column">
  <button class="btn btn-md btn-primary mb-2 align-self-end" onclick="linkto('/user-add')"><i class="ri-user-add-line"></i> add new user</button>
  <table id="example" class="table table-hover" style="width: 100%">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Position</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.map((item) => { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.position %></td>
        <td>
          <a href="/user-lists/<%= item.id %> ">view details</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
